@model dynamic

@if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
{
    <table class="table table-info">
        <tr>
            <th colspan="4">Order List</th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Book Name</th>
            <th>Quantity</th>
            <th>Book Price ($)</th>
            <th>Bill ($)</th>
        </tr>

        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderDate</td>
                <td>@order.Book.Book_name</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>
                <td>@order.Bill</td>
            </tr>
        }
    </table>
}